.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.svelte-kit

.vercel
.vercel_build_output/config/routes.json
.vercel_build_output/functions/node/render/index.js
.vercel_build_output/functions/node/render/package.json
.vercel_build_output/static/favicon.png
.vercel_build_output/static/_app/error.svelte-061aa89d.js
.vercel_build_output/static/_app/manifest.json
.vercel_build_output/static/_app/start-a84b61f9.js
.vercel_build_output/static/_app/assets/codemirror-00a9bc6d.css
.vercel_build_output/static/_app/assets/index.11f4ee2c.js
.vercel_build_output/static/_app/assets/index.51cd5240.js
.vercel_build_output/static/_app/assets/start-61d1577b.css
.vercel_build_output/static/_app/assets/vendor-956e30c0.css
.vercel_build_output/static/_app/assets/pages/__layout.svelte-4a8dea86.css
.vercel_build_output/static/_app/assets/pages/index.svelte-e1b35bb3.css
.vercel_build_output/static/_app/chunks/codemirror-438c05cf.js
.vercel_build_output/static/_app/chunks/preload-helper-ec9aa979.js
.vercel_build_output/static/_app/chunks/vendor-8ab0b90b.js
.vercel_build_output/static/_app/pages/__layout.svelte-d7efbdb2.js
.vercel_build_output/static/_app/pages/index.svelte-0d3e2460.js
